-i https://pypi.python.org/simple/
asgiref==3.3.1 ; python_version >= '3.5'
brotli==1.0.9
certifi==2020.11.8
cffi==1.14.3
chardet==3.0.4
click==7.1.2
cryptography==3.2
flask-caching==1.9.0
flask-compress==1.5.0
flask-paginate==0.7.0
flask==1.1.2
gunicorn==20.0.4
idna==2.10
importlib-metadata==2.0.0 ; python_version < '3.8'
itsdangerous==1.1.0
jinja2==2.11.2
markupsafe==1.1.1
psutil==5.7.3
pycparser==2.20
pymongo==3.11.0
pyopenssl==19.1.0
requests==2.24.0
scout-apm==2.15.2
six==1.15.0
urllib3[secure]==1.25.11 ; python_version >= '3.5'
werkzeug==1.0.1
wrapt==1.12.1
zipp==3.4.0
