-i https://pypi.python.org/simple/
asgiref==3.3.3 ; python_version >= '3.5'
brotli==1.0.9
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cryptography==3.4.7
flask-caching==1.9.0
flask-compress==1.8.0
flask-paginate==0.7.1
flask==1.1.2
gunicorn==20.0.4
idna==2.10
importlib-metadata==3.10.0 ; python_version < '3.8'
itsdangerous==1.1.0
jinja2==2.11.3
markupsafe==1.1.1
psutil==5.8.0
pycparser==2.20
pymongo==3.11.2
pyopenssl==20.0.1
requests==2.25.1
scout-apm==2.17.0
six==1.15.0
typing-extensions==3.7.4.3 ; python_version < '3.8'
urllib3[secure]==1.26.4
werkzeug==1.0.1
wrapt==1.12.1
zipp==3.4.1
