<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LeetCode Ranking</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        #countryInput {
            padding: 20px;
            margin-top: -6px;
            border: 0;
            border-radius: 0;
            background: #f1f1f1;
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143874982-1"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script data-ad-client="ca-pub-5213877146531950" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-143874982-1');
    </script>

</head>
<body>
<div class="container">
    <div class="head">
        <div class="row-fluid">
            <div class="span12">
                <div class="span6">
                    <h1 class="muted">LeetCode Global Ranking</h1>
                    <a class="github-button" href="https://github.com/mintutu/leetcode-country-ranking" data-size="large" aria-label="Star mintutu/leetcode-country-ranking on GitHub">Star Me!!!</a>
                </div>
            </div>
        </div>
    </div>
    <div class="post-info"><i class="fa fa-clock-o">Last updated on {{last_updated}}</i></div>
    </br>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Country
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <input class="form-control" id="countryInput" type="text" placeholder="Search..">
            <li><a href="/">All countries</a></li>
            <li><a href="/country/AD">Andorra</a></li>
            <li><a href="/country/AE">United Arab Emirates</a></li>
            <li><a href="/country/AF">Afghanistan</a></li>
            <li><a href="/country/AI">Anguilla</a></li>
            <li><a href="/country/AL">Albania</a></li>
            <li><a href="/country/AM">Armenia</a></li>
            <li><a href="/country/AO">Angola</a></li>
            <li><a href="/country/AR">Argentina</a></li>
            <li><a href="/country/AS">American Samoa</a></li>
            <li><a href="/country/AT">Austria</a></li>
            <li><a href="/country/AU">Australia</a></li>
            <li><a href="/country/AW">Aruba</a></li>
            <li><a href="/country/AX">Aland Islands</a></li>
            <li><a href="/country/AZ">Azerbaijan</a></li>
            <li><a href="/country/BA">Bosnia and Herzegovina</a></li>
            <li><a href="/country/BD">Bangladesh</a></li>
            <li><a href="/country/BE">Belgium</a></li>
            <li><a href="/country/BG">Bulgaria</a></li>
            <li><a href="/country/BH">Bahrain</a></li>
            <li><a href="/country/BL">Saint Barthelemy</a></li>
            <li><a href="/country/BN">Brunei Darussalam</a></li>
            <li><a href="/country/BO">Bolivia</a></li>
            <li><a href="/country/BR">Brazil</a></li>
            <li><a href="/country/BS">Bahamas</a></li>
            <li><a href="/country/BY">Belarus</a></li>
            <li><a href="/country/BZ">Belize</a></li>
            <li><a href="/country/CA">Canada</a></li>
            <li><a href="/country/CH">Switzerland</a></li>
            <li><a href="/country/CI">Ivory Coast</a></li>
            <li><a href="/country/CL">Chile</a></li>
            <li><a href="/country/CM">Cameroon</a></li>
            <li><a href="/country/CN">China</a></li>
            <li><a href="/country/CO">Colombia</a></li>
            <li><a href="/country/CR">Costa Rica</a></li>
            <li><a href="/country/CU">Cuba</a></li>
            <li><a href="/country/CW">Curacao</a></li>
            <li><a href="/country/CX">Christmas Island</a></li>
            <li><a href="/country/CY">Cyprus</a></li>
            <li><a href="/country/CZ">Czechia</a></li>
            <li><a href="/country/DE">Germany</a></li>
            <li><a href="/country/DK">Denmark</a></li>
            <li><a href="/country/DM">Dominica</a></li>
            <li><a href="/country/DO">Dominican Republic</a></li>
            <li><a href="/country/DZ">Algeria</a></li>
            <li><a href="/country/EC">Ecuador</a></li>
            <li><a href="/country/EE">Estonia</a></li>
            <li><a href="/country/EG">Egypt</a></li>
            <li><a href="/country/ER">Eritrea</a></li>
            <li><a href="/country/ES">Spain</a></li>
            <li><a href="/country/ET">Ethiopia</a></li>
            <li><a href="/country/FI">Finland</a></li>
            <li><a href="/country/FJ">Fiji</a></li>
            <li><a href="/country/FO">Faroe Islands</a></li>
            <li><a href="/country/FR">France</a></li>
            <li><a href="/country/GB">United Kingdom</a></li>
            <li><a href="/country/GE">Georgia</a></li>
            <li><a href="/country/GF">French Guiana</a></li>
            <li><a href="/country/GH">Ghana</a></li>
            <li><a href="/country/GI">Gibraltar</a></li>
            <li><a href="/country/GL">Greenland</a></li>
            <li><a href="/country/GM">Gambia</a></li>
            <li><a href="/country/GN">Guinea</a></li>
            <li><a href="/country/GP">Guadeloupe</a></li>
            <li><a href="/country/GR">Greece</a></li>
            <li><a href="/country/GT">Guatemala</a></li>
            <li><a href="/country/GW">Guinea-Bissau</a></li>
            <li><a href="/country/HK">Hong Kong</a></li>
            <li><a href="/country/HN">Honduras</a></li>
            <li><a href="/country/HR">Croatia</a></li>
            <li><a href="/country/HU">Hungary</a></li>
            <li><a href="/country/ID">Indonesia</a></li>
            <li><a href="/country/IE">Ireland</a></li>
            <li><a href="/country/IL">Israel</a></li>
            <li><a href="/country/IN">India</a></li>
            <li><a href="/country/IQ">Iraq</a></li>
            <li><a href="/country/IR">Iran</a></li>
            <li><a href="/country/IS">Iceland</a></li>
            <li><a href="/country/IT">Italy</a></li>
            <li><a href="/country/JM">Jamaica</a></li>
            <li><a href="/country/JO">Jordan</a></li>
            <li><a href="/country/JP">Japan</a></li>
            <li><a href="/country/KE">Kenya</a></li>
            <li><a href="/country/KG">Kyrgyzstan</a></li>
            <li><a href="/country/KH">Cambodia</a></li>
            <li><a href="/country/KM">Comoros</a></li>
            <li><a href="/country/KP">North Korea</a></li>
            <li><a href="/country/KR">South Korea</a></li>
            <li><a href="/country/KZ">Kazakhstan</a></li>
            <li><a href="/country/LB">Lebanon</a></li>
            <li><a href="/country/LC">Saint Lucia</a></li>
            <li><a href="/country/LK">Sri Lanka</a></li>
            <li><a href="/country/LR">Liberia</a></li>
            <li><a href="/country/LS">Lesotho</a></li>
            <li><a href="/country/LT">Lithuania</a></li>
            <li><a href="/country/LU">Luxembourg</a></li>
            <li><a href="/country/LV">Latvia</a></li>
            <li><a href="/country/MA">Morocco</a></li>
            <li><a href="/country/MD">Moldova</a></li>
            <li><a href="/country/ME">Montenegro</a></li>
            <li><a href="/country/MG">Madagascar</a></li>
            <li><a href="/country/MK">North Macedonia</a></li>
            <li><a href="/country/MM">Myanmar</a></li>
            <li><a href="/country/MN">Mongolia</a></li>
            <li><a href="/country/MO">Macao</a></li>
            <li><a href="/country/MR">Mauritania</a></li>
            <li><a href="/country/MT">Malta</a></li>
            <li><a href="/country/MU">Mauritius</a></li>
            <li><a href="/country/MV">Maldives</a></li>
            <li><a href="/country/MX">Mexico</a></li>
            <li><a href="/country/MY">Malaysia</a></li>
            <li><a href="/country/NG">Nigeria</a></li>
            <li><a href="/country/NL">Netherlands</a></li>
            <li><a href="/country/NO">Norway</a></li>
            <li><a href="/country/NP">Nepal</a></li>
            <li><a href="/country/NZ">New Zealand</a></li>
            <li><a href="/country/PA">Panama</a></li>
            <li><a href="/country/PE">Peru</a></li>
            <li><a href="/country/PG">Papua New Guinea</a></li>
            <li><a href="/country/PH">Philippines</a></li>
            <li><a href="/country/PK">Pakistan</a></li>
            <li><a href="/country/PL">Poland</a></li>
            <li><a href="/country/PR">Puerto Rico</a></li>
            <li><a href="/country/PS">Palestine</a></li>
            <li><a href="/country/PT">Portugal</a></li>
            <li><a href="/country/PY">Paraguay</a></li>
            <li><a href="/country/QA">Qatar</a></li>
            <li><a href="/country/RO">Romania</a></li>
            <li><a href="/country/RS">Serbia</a></li>
            <li><a href="/country/RU">Russian</a></li>
            <li><a href="/country/RW">Rwanda</a></li>
            <li><a href="/country/SA">Saudi Arabia</a></li>
            <li><a href="/country/SC">Seychelles</a></li>
            <li><a href="/country/SD">Sudan</a></li>
            <li><a href="/country/SE">Sweden</a></li>
            <li><a href="/country/SG">Singapore</a></li>
            <li><a href="/country/SI">Slovenia</a></li>
            <li><a href="/country/SK">Slovakia</a></li>
            <li><a href="/country/SN">Senegal</a></li>
            <li><a href="/country/SO">Somalia</a></li>
            <li><a href="/country/SV">El Salvador</a></li>
            <li><a href="/country/SY">Syrian</a></li>
            <li><a href="/country/SZ">Eswatini</a></li>
            <li><a href="/country/TG">Togo</a></li>
            <li><a href="/country/TH">Thailand</a></li>
            <li><a href="/country/TJ">Tajikistan</a></li>
            <li><a href="/country/TM">Turkmenistan</a></li>
            <li><a href="/country/TN">Tunisia</a></li>
            <li><a href="/country/TR">Turkey</a></li>
            <li><a href="/country/TT">Trinidad and Tobago</a></li>
            <li><a href="/country/TW">Taiwan</a></li>
            <li><a href="/country/TZ">Tanzania</a></li>
            <li><a href="/country/UA">Ukraine</a></li>
            <li><a href="/country/UG">Uganda</a></li>
            <li><a href="/country/US">United States</a></li>
            <li><a href="/country/UY">Uruguay</a></li>
            <li><a href="/country/UZ">Uzbekistan</a></li>
            <li><a href="/country/VA">Holy See</a></li>
            <li><a href="/country/VE">Venezuela</a></li>
            <li><a href="/country/VN">Vietnam</a></li>
            <li><a href="/country/YE">Yemen</a></li>
            <li><a href="/country/ZA">South Africa</a></li>
            <li><a href="/country/ZM">Zambia</a></li>
            <li><a href="/country/ZW">Zimbabwe</a></li>
        </ul>
    </div>
    </br>
    <form action="{{ url_for('app_ctr.search_by_user') }}" method="POST">
        <input id="userSearch" name="user-search" class="form-control" type="text"
               placeholder="Search User Name or Real Name" aria-label="Search">
    </form>
    </br>
    {{ pagination.links }}
    <div class="table-responsive">
        <table class="table table-hover table-striped table-fixed">
            <thead>
            <tr>
                <th>#</th>
                <th>Global Ranking</th>
                <th>Rating</th>
                <th>User Name</th>
                <th>Real Name</th>
                <th>Country Name</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                <td>{{ loop.index + pagination.skip }}</td>
                <td>{{ user.global_ranking }}</td>
                <td>{{ format_rate(user.rating)}}</td>
                <td>
                    {% if user.data_region == "US" %}
                    <a href="https://leetcode.com/{{ user.user_name }}">{{ user.user_name }}</a>
                    {% else %}
                    <a href="https://leetcode-cn.com/u/{{ user.user_name }}">{{ user.user_name }}</a>
                    {% endif %}                    
                </td>
                <td>{{ user.real_name }}</td>
                <td>
                    {% if user.country_name != None %}
                    <div>{{ user.country_name }}</div>
                    {% else %}
                    <div></div>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ pagination.links }}
</div>

<script>
    $(document).ready(function () {
        $("#countryInput").on("keyup", function () {
            let value = $(this).val().toLowerCase();
            $(".dropdown-menu li").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
<script>
    document.getElementById('userSearch').addEventListener('keypress', function (event) {
        if (event.keyCode === 13) {
            this.form.submit();
            event.preventDefault();
        }
    });
</script>
</body>

<footer class="page-footer font-small blue fixed-bottom">
    <div class="footer-copyright text-center py-3">Powered By:
        <a href="https://github.com/mintutu/leetcode-country-ranking/">https://github.com/mintutu/leetcode-country-ranking/</a>
    </div>
</footer>
</br>
</html>